<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <servlet>
        <servlet-name>LocationDetail</servlet-name>
        <servlet-class>LocationDetail</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LocationDetail</servlet-name>
        <url-pattern>/LocationDetail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LocationList</servlet-name>
        <servlet-class>LocationList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LocationList</servlet-name>
        <url-pattern>/LocationList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addLocation</servlet-name>
        <servlet-class>addLocation</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addLocation</servlet-name>
        <url-pattern>/addLocation</url-pattern>
    </servlet-mapping>

</web-app>
